{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>

    <br>

     <form method="post" action="/api/super" class="form-inline">
      <div class="form-group">
        <label>Service name</label>
        <input type="text" name="name" class="form-control" required>
        
         <label>Location name</label>
        <input type="text" name="location" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-default">Save</button>
    </form>

    <hr><br>

    <h2>All Services and Locations</h2>

    <ul>
    {% for docs in mainhandle %}
      <li><a href="update/{{docs.id}}">{{docs.name}}</a> --- <a href="update/{{docs.id}}">{{docs.location}}</a></li>
    {% endfor %}
    </ul>

  </div>

{% endblock %}
